@font-face{
    font-family: 'Montserrat-Medium';
    src: url(../Fonts/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'MyriadProRegular';
    src: url(../Fonts/MyriadProRegular.ttf);
}

@font-face{
    font-family: 'NunitoSans-Regular';
    src: url(../Fonts/NunitoSans-Regular.ttf);
}

@font-face{
    font-family: 'NunitoSans-Bold';
    src: url(../Fonts/NunitoSans-Bold.ttf);
}

@font-face{
    font-family: 'WorkSans-Regular';
    src: url(../Fonts/WorkSans-Regular.ttf);
}